/* Selector universal */

* {
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

/* general */

body {
    margin: 0;
}

/* Header */

header {
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 12%;
   /* background-color: #b38383;*/
}

header ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    
}

nav {
    width: 25%;
}

a {
    text-decoration: none;
    color: #242E52;
    font-size: 13px;
}

.button {
    height: 50px;
    width: 130px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    background-color: #8B48BF;
    color: #FFFFFF;
}

#buttonShadow {
    height: 50px;
    width: 130px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    background-color: #8B48BF;
    color: #FFFFFF;
    box-shadow: 3px 3px 5px rgb(173, 173, 173);
}

.hamburguesa {
    display: none;

}

/*primera seccion main*/

main {
display: flex;
flex-direction: column;
align-items: center;
    margin: 0;
    background-color: #ffffff;
    padding: 5% 5% 0;
    
}

h1 {
    font-size: 58px;
    width: 100%;
    height: 40%;
    margin: 0;
    color: #232C50;
}

p {
    font-size: 16px;
    margin: 0;
}

.copete {
    width: 70%;
    height: 15%;
    margin: 5% 0%;
    padding: 0% 0% 0% 0%;
}

.flexSpace {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8%;
    width: 1440px;
}



.article {
    width: 50%;
    height: 50%;
    margin: 0% 5% 0% 0%;

}

/*segunda seccion main*/

.flexSpace2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8%;
    width: 1440px;
}

h2 {
    font-size: 36px;
    width: 100%;
    color: #232851;
}

h3 {
    font-size: 16px;
    padding-top: 10px;
    padding-left: 40px;
    
    height: 40px;
    width: 500px;
    position: relative;
    top: 5px;
    left: -20px;
    color: #323851;
}

h4{
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 10px;
    background-color: #8B48BF;
    width:70px;
    height: 40px;
    border-radius: 20px;
}

.ulMain {
    width: 60%;
    padding: 0% 8%;
    list-style-type: none;
    margin: 5% 0%;

}

.ulP {
    opacity: 50%;
    padding-left: 80px;
}

.subtitulos {
    display: flex;
    

}

 /*tercera seccion*/

 .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;

    
}

.column h5 {
    font-size: 40px;
    color: #242E53;

    
}

 .cardConteiner {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-top: 30px;
    
}

.cardConteiner div {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;

}

.cardConteiner img{
    border-radius: 100%;
    position: relative;
    top: -25px;
    margin: 0;
    
}

.cardConteiner h6 {
    font-size: 16px;
    color: #3F4868;
    margin: 5px;
    height: 10px;
    position: relative;
    top: -10px;
}

.cardConteiner p{
    width: 100%;
    height: 100px;
    text-align: center;
    color: #B9B9C1;
    padding: 10px;
    
}



.column button {
    margin-top: 40px;
    margin-bottom: 180px;
    

}
/*seccion 4*/

#section {
    background-color: #8B48BF;
    width: 100vw;
    height: 225px;
    margin: 0;
}

#h2 {
    color: #ffffff;
    position: relative;
    left: 15%;
    margin: 0;
}

#button {
    background-color: #FFFFFF;
    color: #8B48BF;
    position: relative;
    right: 15%;
    box-shadow: 3px 3px 5px rgb(44, 44, 44);
}

/*footer*/

footer {

    background-color: #1E1E26;
    padding: 15px 0%;
    margin: 0;
    height: 250px;
}

.footerDiv {
    display: flex;
    justify-content: center;
    
    height: 100%;
    
}


footer a{
    color: #FFFFFF;
}

#footerButton {
    width: 60px;
    height: 40px;
    border-radius: 20px;
}

.copyright {
    color: #8C8C94;
    position: relative;
    
    width: 300px;
    text-align: end;
    left: 65%;
    bottom: 25%;

}

.input {
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 20px;
    padding-left: 10px;
}

.footerSection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    width: 350px;
    margin: 20px 40px 20px 0px;


}

.footerSection2 {
    display: flex;
    justify-content: space-between;
    height: 60%;
    width: 350px;
    margin: 40px 110px 20px 70px;
}

.divColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.divColumn a {
    font-size: 16px;
}

.logos {
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.aNone {
    visibility:hidden;
}

.form {
    margin: 40px 40px;
    width: 350px;
    text-align: center;
}

@media (max-width: 600px){
    /*queries header*/
    nav {
        display: none;
    }
    #buttonShadow{
        display: none;
    }
    .hamburguesa {
        display: inline-block;
    }
    header {
        justify-content: space-between;
    }

    /*queries primera seccion*/
    .flexSpace {
        flex-direction: column-reverse;
        align-items: center;
        
    }

    h1 {
        width: 100%;
        text-align: center;

    }
    .article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        margin: 5% 0px;
    }
    .copete{
        text-align: center;
        width: 80%;
    }

    /*queries segunda seccion*/

    .flexSpace2 {
        flex-direction: column;
    }
    
    h2 {
        text-align: center;
    }
    .ulMain {
        width: 400px;
        padding: 0;

    }
    /*queries cards*/
    #anisha{
        display: none;
    }
    #richard {
        display: none;
    }

    /* queries seccion cuatro*/
    #section{
        height: 300px;
    }
    #h2 {
        left: 0;
        margin: 4%;
        width: 70%;
    }
    #button {
        right: 0;
        margin: 4%;
    }

    /*footer*/
    footer {
        height: 550px;
    }
    .footerDiv {
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    .form{
        width: 400px;
    }
    .input{
        width: 250px;
    }
    .footerSection2{
        width: 100%;
        margin: 0px;
        justify-content: center;
        height: 30%;
    }
    .divColumn{
        margin: 0px 15%;
        height: 150px;
    }
    .footerSection{
        flex-direction: column-reverse;
        align-items: center;
        height: 20%;
        margin: 5% 0px;
        width: 100%;
        
    }
    .logos{
        width: 90%;
        justify-content: space-around;
        margin: 7%;
        
    }
    .copyright{
        left: 0;
        bottom: 10%;
        text-align: center;
        width: 100%;
    }


}